@charset "utf-8";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

html{
	overflow-x: hidden;
	flex-wrap: nowrap;
}
  #INICIO {
  background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),url("IMAGENS/Ambiente.webp");  
  color: #FFF;
  height: 500px;
  flex: auto;
}
.fs-3{
	width: 80%;
	text-align:justify;
	margin-left: 10%;
	margin-right:10%;
	
}

#body {
  overflow-x: hidden;
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
}

#Cabeca{
    font-family:Verdana, Geneva, sans-serif; 
    background-image: url(IMAGENS/Ambiente6.webp);
    background-size:cover;
    background-repeat: no-repeat;
    color:#FFF;
	background-color:#4682B4; 
	height:500px;
	width:100%;	 	
}


#bloco1{
    font-family:Verdana, Geneva, sans-serif; 
    background-image: url(IMAGENS/Ambiente6.webp);
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    color:#FFF;
	background-color:#4682B4; 
	height:400px;
	max-width:100%;
}
.img-carrousel{
	max-width:10%;
	max-height:10%;
}

.Titulos{
	font-family:Verdana, Geneva, sans-serif;
	color:#4682B4;

}



.card1{	
	display:inline-block;
	color: #FFF;
	border-radius: 30px ; 
	background-color:#4682B4;
	width:250px;
	height:400px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
	margin-left: 10px;
	border-style: groove;
}

.card-text{
	text-align: justify;
}

.card1:hover{
 box-shadow:  0 0 30px gray;
}

.card2:hover{
  color:#FFF;
  background-color: #4682B4;
}

.card2:hover .card-footer{
  background-color: #FFF;
}

.img-card{ 
	border-radius: 30px;
	height: 200px;
	width: 250px;
	max-width:245px;
	max-height:200px;
}

.card2{
 display:inline-block;	
 margin-top: 10px;
 margin-left: 10px;
 margin-right: 10px;
 margin-bottom: 10px;
 width: 300px;
 height: 300px;
 border-style: groove;
}

.card-footer{
	margin-top: 70px;
}
#Rodape{
	width: 100%;
	color:#FFF;
	max-width: 100%;
	background-color:#4682B4;
	height:auto;
	font-family:Verdana, Geneva, sans-serif;
	margin-left: 0px;
	margin-right: 0px
}

.banner{
	display: flex;
	text-align: center;
	background-color: #004aad;
	width:100% ;
	height:400px;
}
#banner-instagram{		
 max-width: 100%;
 margin-left: auto;
 margin-right: auto;
}

#mapa{
	display:flex;
	justify-content: center;
}
@media screen and (max-width: 800px) {
	#mapa{
	 flex-wrap: wrap;
	}
  }
#local{
	background-color:#4682B4;
	color:white;
	border: 5px black;
	border-radius: 30px;
	margin-left: 10px;
	margin-right:10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#Fale-conosco{
	background-color:#4682B4;
	color:white;
	border: 1px black;
	border-radius: 30px;
	margin-left: 10px;
	margin-right:10px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.zoom { transition: all .2s ease-in-out; }
.zoom:hover  { transform: scale(1.1); }

#Rodadiv{
	max-width: 100%;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
	height:auto;
	align-items:justify;
}
.DevCredits{ 
font-family: cursive;	
color:#FFF	;
width:auto; 
height:auto;
background: #f09433; 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
	}